/.vs/NavyBlue.Framework/v15/.suo
/.vs/NavyBlue.Framework/v15/Server/sqlite3/db.lock
/.vs/NavyBlue.Framework/v15/Server/sqlite3/storage.ide
/.vs/NavyBlue.Framework/v15/Server/sqlite3/storage.ide-shm
/.vs/NavyBlue.Framework/v15/Server/sqlite3/storage.ide-wal
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/*.p7s
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/*.nupkg
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/lib/portable-net45+win+wp8/*.dll
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/lib/portable-net45+win+wp8/*.xml
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/*.txt
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/tools/*.ps1
/packages/EnterpriseLibrary.TransientFaultHandling.6.0.1304.0/tools/*.psm1
/packages/Microsoft.AspNet.WebApi.5.2.7/*.p7s
/packages/Microsoft.AspNet.WebApi.5.2.7/*.nupkg
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/*.p7s
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/net45/*.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/netstandard2.0/*.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/netstandard2.0/*.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/portable-wp8+netcore45+net45+wp81+wpa81/*.dll
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/lib/portable-wp8+netcore45+net45+wp81+wpa81/*.xml
/packages/Microsoft.AspNet.WebApi.Client.5.2.7/*.nupkg
/packages/Microsoft.AspNet.WebApi.Core.5.2.7/*.p7s
/packages/Microsoft.AspNet.WebApi.Core.5.2.7/Content/*.transform
/packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.Core.5.2.7/lib/net45/*.xml
/packages/Microsoft.AspNet.WebApi.Core.5.2.7/*.nupkg
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/*.p7s
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/lib/net45/*.dll
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/lib/net45/*.xml
/packages/Microsoft.AspNet.WebApi.WebHost.5.2.7/*.nupkg
/packages/Microsoft.WindowsAzure.ConfigurationManager.3.2.3/*.p7s
/packages/Microsoft.WindowsAzure.ConfigurationManager.3.2.3/lib/net40/*.dll
/packages/Microsoft.WindowsAzure.ConfigurationManager.3.2.3/lib/net40/*.xml
/packages/Microsoft.WindowsAzure.ConfigurationManager.3.2.3/*.nupkg
/packages/Newtonsoft.Json.6.0.4/*.p7s
/packages/Newtonsoft.Json.6.0.4/lib/net20/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net20/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/net35/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net35/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/net40/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net40/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/net45/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/net45/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/netcore45/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/*.xml
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/*.dll
/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/*.xml
/packages/Newtonsoft.Json.6.0.4/*.nupkg
/packages/Newtonsoft.Json.6.0.4/tools/*.ps1
/packages/NLog.4.5.11/*.p7s
/packages/NLog.4.5.11/lib/monoandroid44/*.dll
/packages/NLog.4.5.11/lib/monoandroid44/*.xml
/packages/NLog.4.5.11/lib/net35/*.dll
/packages/NLog.4.5.11/lib/net35/*.xml
/packages/NLog.4.5.11/lib/net40-client/*.dll
/packages/NLog.4.5.11/lib/net40-client/*.xml
/packages/NLog.4.5.11/lib/net45/*.dll
/packages/NLog.4.5.11/lib/net45/*.xml
/packages/NLog.4.5.11/lib/netstandard1.3/*.dll
/packages/NLog.4.5.11/lib/netstandard1.3/*.xml
/packages/NLog.4.5.11/lib/netstandard1.5/*.dll
/packages/NLog.4.5.11/lib/netstandard1.5/*.xml
/packages/NLog.4.5.11/lib/netstandard2.0/*.dll
/packages/NLog.4.5.11/lib/netstandard2.0/*.xml
/packages/NLog.4.5.11/lib/sl4/*.dll
/packages/NLog.4.5.11/lib/sl4/*.xml
/packages/NLog.4.5.11/lib/sl5/*.dll
/packages/NLog.4.5.11/lib/sl5/*.xml
/packages/NLog.4.5.11/lib/wp8/*.dll
/packages/NLog.4.5.11/lib/wp8/*.xml
/packages/NLog.4.5.11/lib/xamarinios10/*.dll
/packages/NLog.4.5.11/lib/xamarinios10/*.xml
/packages/NLog.4.5.11/*.nupkg
/packages/ReflectionMagic.4.0.0/*.p7s
/packages/ReflectionMagic.4.0.0/lib/net45/*.dll
/packages/ReflectionMagic.4.0.0/lib/net45/*.xml
/packages/ReflectionMagic.4.0.0/lib/netstandard1.5/*.dll
/packages/ReflectionMagic.4.0.0/lib/netstandard1.5/*.xml
/packages/ReflectionMagic.4.0.0/lib/netstandard2.0/*.dll
/packages/ReflectionMagic.4.0.0/lib/netstandard2.0/*.xml
/packages/ReflectionMagic.4.0.0/*.nupkg
/packages/System.Reflection.4.3.0/*.p7s
/packages/System.Reflection.4.3.0/*.txt
/packages/System.Reflection.4.3.0/lib/MonoAndroid10/*._
/packages/System.Reflection.4.3.0/lib/MonoTouch10/*._
/packages/System.Reflection.4.3.0/lib/net45/*._
/packages/System.Reflection.4.3.0/lib/net462/*.dll
/packages/System.Reflection.4.3.0/lib/portable-net45+win8+wp8+wpa81/*._
/packages/System.Reflection.4.3.0/lib/win8/*._
/packages/System.Reflection.4.3.0/lib/wp80/*._
/packages/System.Reflection.4.3.0/lib/wpa81/*._
/packages/System.Reflection.4.3.0/lib/xamarinios10/*._
/packages/System.Reflection.4.3.0/lib/xamarinmac20/*._
/packages/System.Reflection.4.3.0/lib/xamarintvos10/*._
/packages/System.Reflection.4.3.0/lib/xamarinwatchos10/*._
/packages/System.Reflection.4.3.0/ref/MonoAndroid10/*._
/packages/System.Reflection.4.3.0/ref/MonoTouch10/*._
/packages/System.Reflection.4.3.0/ref/net45/*._
/packages/System.Reflection.4.3.0/ref/net462/*.dll
/packages/System.Reflection.4.3.0/ref/netcore50/de/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/es/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/fr/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/it/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/ja/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/ko/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/ru/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/*.dll
/packages/System.Reflection.4.3.0/ref/netcore50/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/zh-hans/*.xml
/packages/System.Reflection.4.3.0/ref/netcore50/zh-hant/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/de/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/es/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/fr/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/it/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/ja/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/ko/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/ru/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/*.dll
/packages/System.Reflection.4.3.0/ref/netstandard1.0/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/zh-hans/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.0/zh-hant/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/de/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/es/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/fr/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/it/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/ja/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/ko/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/ru/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/*.dll
/packages/System.Reflection.4.3.0/ref/netstandard1.3/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/zh-hans/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.3/zh-hant/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/de/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/es/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/fr/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/it/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/ja/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/ko/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/ru/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/*.dll
/packages/System.Reflection.4.3.0/ref/netstandard1.5/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/zh-hans/*.xml
/packages/System.Reflection.4.3.0/ref/netstandard1.5/zh-hant/*.xml
/packages/System.Reflection.4.3.0/ref/portable-net45+win8+wp8+wpa81/*._
/packages/System.Reflection.4.3.0/ref/win8/*._
/packages/System.Reflection.4.3.0/ref/wp80/*._
/packages/System.Reflection.4.3.0/ref/wpa81/*._
/packages/System.Reflection.4.3.0/ref/xamarinios10/*._
/packages/System.Reflection.4.3.0/ref/xamarinmac20/*._
/packages/System.Reflection.4.3.0/ref/xamarintvos10/*._
/packages/System.Reflection.4.3.0/ref/xamarinwatchos10/*._
/packages/System.Reflection.4.3.0/*.nupkg
*.config
*.pdb
*.CopyComplete
*.txt
*.dll
*.xml
*.cache
*.cs
*.pp
*.p7s
*.nupkg
*.md
obj
bin
packages
